@import 'variables';
@import 'productCard';
@import 'cart';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gh-diaper-sizing-index-1594073775.jpg);
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.order-cards-container {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.home-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.home-header{
  margin: 20px;
}

.product-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.single-order-cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}